body {
  font-family: 'Lucida Grande', sans-serif;
  position: relative;
  min-height: 100vh;
  font-size: 1em;
}

/* Styles specific to the homepage */
.homepage {
  /* background-image: url('images/Docent_site_sample_hello_green.png'); */
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #3c473d;
}

a {
  color: #ccf1cf;
  text-decoration: none;
}

/* a:hover {
  color: #9da39e;
} */

.past_event_link {
  color: white;
  text-decoration: none;
}

.past_event_link:hover {
  color: #9da39e;
}

p {
  color: white;
  text-align: left;
  font-size: 0.66em;
  line-height: 1.6em;
  letter-spacing: .01rem;
}

.activitylog p {
  color: white;
  font-size: 0.58em;
  line-height: 2em;
  border-bottom: 1px solid #9da39e;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.round {
  background-color: #9da39e;
  color: #3c473d;
  padding: 0.08em 0.4em;
  border-radius: 0.4em;
  display: inline-block;
  font-size: inherit;
  line-height: normal;
  height: auto;
  vertical-align: baseline;
}

.round_new {
  background-color: #88a28a;
  color: #3c473d;
  padding: 0.08em 0.4em;
  border-radius: 0.4em;
  display: inline-block;
  font-size: inherit;
  line-height: normal;
  height: auto;
  vertical-align: baseline;
}

.round_play {
  background-color: #9da39e;
  color: #3c473d;
  padding: 0.08em 0.6em;
  border-radius: .8em;
  display: inline-block;
  font-size: inherit;
  line-height: normal;
  height: auto;
  vertical-align: baseline;
}

.soon {
  background-color: #ccf1cf;
  color: #3c473d;
  padding: 0.08em 0.4em;
  border-radius: 0.4em;
  display: inline-block;
  font-size: inherit;
  line-height: normal;
  height: auto;
  vertical-align: baseline;
}

.bulletin {
  background-color: #ccf1cf;
  color: #3c473d;
  padding: 0.3em 0.4em;
  border-radius: 0.2em;
  display: inline;
  font-size: 0.58em;
  line-height: 2em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.fadedtext {
  color: #9da39e;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.column {
  box-sizing: border-box;
  width: 300px; /* Fixed width of 300px */
  margin: 0.125em;
  padding: 0.375em;
  vertical-align: top;
}

.column p {
  margin: 0;
  padding: 0;
}

.container .column:nth-child(3) {
  margin-left: auto;
}

p + p.linebreak {
  margin-top: .6em; /* Adjust the margin-top value as needed */
}

.article_column {
  width: 80%; /* Adjust as needed */
  max-width: 500px; /* Adjust as needed */
  margin: 0 auto; /* Center the column */
  padding: 20px; /* Adjust as needed */
  box-sizing: border-box; /* Ensures padding is included in the total width */
}

.article_column p {
  text-align: left;
  font-size: 0.80em;
  line-height: 1.5em;
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.625em;
}

@media only screen and (max-width: 925px) {
  .container .column:nth-child(3) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .column p {
    font-size: 0.83em;
  }

  .activitylog {
    font-size: 0.75em;
  }

  .bulletin {
    font-size: 0.75em;
}

  .container {
    flex-direction: column;
  }

  .column {
    width: calc(100% - 0.25em);
    margin: 0.125em 0;
  }
}
